# Non-project files
.DS_Store/
.idea/workspace.xml
.idea/misc.xml
.idea/statistic.xml

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# BrowserStack tunel binaries
browserStackBin/

# misc
/.sass-cache
/connect.lock
/coverage
reports/
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

