.idea/angular2-test.iml
.idea/compiler.xml
.idea/copyright/
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/typescript-compiler.xml
.idea/workspace.xml
node_modules/
typings/

!systemjs.config.js
*.js.map
