.idea/compiler.xml
.idea/copyright/
.idea/misc.xml
.idea/workspace.xml
node_modules/
*.css
*.js
!gruntfile.js
!systemjs.config.js
*.js.map
npm-debug.log
dist/
.idea/terminal.xml
.DS_Store
app/ngFactories/
