@font-face {
    font-family: 'HelveticaNeue';
    src: url('fonts/HelveticaNeueBold.eot');
    src: url('fonts/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/HelveticaNeueBold.woff2') format('woff2'),
    url('fonts/HelveticaNeueBold.woff') format('woff'),
    url('fonts/HelveticaNeueBold.ttf') format('truetype'),
    url('fonts/HelveticaNeueBold.svg#HelveticaNeueBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('fonts/HelveticaNeueLight.eot');
    src: url('fonts/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
    url('fonts/HelveticaNeueLight.woff2') format('woff2'),
    url('fonts/HelveticaNeueLight.woff') format('woff'),
    url('fonts/HelveticaNeueLight.ttf') format('truetype'),
    url('fonts/HelveticaNeueLight.svg#HelveticaNeueLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

body {
    margin: 40px 15px 0;
    display: flex;

    * {
        font-family: HelveticaNeue, Helvetica, sans-serif;
        font-weight: 300;
        color: black;
    }

    /*noinspection CssInvalidHtmlTagReference*/
    router-outlet {
        display: none
    }

    /*noinspection CssInvalidHtmlTagReference*/
    ng-component, slider-view, projects-view, detail-view, list-view, content {
        display: block;
    }

    .sizer {
        flex: 1;

        @media only screen and (max-width: 900px) {
            display: none;
        }
    }

    samuel-netocny {
        flex: 2;
        min-width: 900px;
        @media only screen and (max-width: 900px) {
            min-width: 0;
        }
    }
}