@import "global";
// Core variables and mixins
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

.bootstrap {
    @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons";
}

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/modals";

.modal-dialog {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    @include transform(translate(-50%, -50%) !important);

    modal-content {
        @include font-size(20);
    }
}

body {
    margin: $page_margin;
    display: flex;

    * {
        font-family: Helvetica, sans-serif;
        font-weight: 300;
        @include font-size(12);
        color: black;
    }

    /*noinspection CssInvalidHtmlTagReference*/
    router-outlet {
        display: none
    }

    .sizer {
        flex: 1;

        @include bp-large {
            display: none;
        }
    }

    samuel-netocny {
        flex: 2;
        min-width: $optimal_width;
        @include bp-large {
            min-width: 0;
        }

        $animationLength: 1.5s;
        $animationRadius: 12px;
        $dotSize: 8px;

        .animatedLoader {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -2.7em;
            margin-left: -2.7em;
            width: 5.4em;
            height: 5.4em;
            transform: scale(0.7);

            .hill {
                position: absolute;
                width: 7.1em;
                height: 7.1em;
                top: 1.7em;
                left: 1.7em;
                border-left: .25em solid black;
                @include transform(rotate(45deg));
            }

            .hill:after {
                content: '';
                position: absolute;
                width: 7.1em;
                height: 7.1em;
                left: 0;
            }

            .box {
                position: absolute;
                left: 0;
                bottom: -.1em;
                width: 1em;
                height: 1em;
                border: .25em solid black;
                border-radius: 15%;
                @include transform(translate(0, -1em) rotate(-45deg));
                @include animation(pushBox 2.5s cubic-bezier(.79, 0, .47, .97) infinite);
            }

            @include keyframes(pushBox) {
                0% {
                    transform: translate(0, -1em) rotate(-45deg);
                }
                5% {
                    transform: translate(0, -1em) rotate(-50deg);
                }
                20% {
                    transform: translate(1em, -2em) rotate(47deg);
                }
                25% {
                    transform: translate(1em, -2em) rotate(45deg);
                }
                30% {
                    transform: translate(1em, -2em) rotate(40deg);
                }
                45% {
                    transform: translate(2em, -3em) rotate(137deg);
                }
                50% {
                    transform: translate(2em, -3em) rotate(135deg);
                }
                55% {
                    transform: translate(2em, -3em) rotate(130deg);
                }
                70% {
                    transform: translate(3em, -4em) rotate(217deg);
                }
                75% {
                    transform: translate(3em, -4em) rotate(220deg);
                }
                100% {
                    transform: translate(0, -1em) rotate(-225deg);
                }
            }
        }
    }
}