@import "global";

@font-face {
    font-family: 'HelveticaNeue';
    src: url('fonts/HelveticaNeueBold.eot');
    src: url('fonts/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/HelveticaNeueBold.woff2') format('woff2'),
    url('fonts/HelveticaNeueBold.woff') format('woff'),
    url('fonts/HelveticaNeueBold.ttf') format('truetype'),
    url('fonts/HelveticaNeueBold.svg#HelveticaNeueBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('fonts/HelveticaNeueLight.eot');
    src: url('fonts/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
    url('fonts/HelveticaNeueLight.woff2') format('woff2'),
    url('fonts/HelveticaNeueLight.woff') format('woff'),
    url('fonts/HelveticaNeueLight.ttf') format('truetype'),
    url('fonts/HelveticaNeueLight.svg#HelveticaNeueLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

body {
    margin: $page_margin_top $page_margin_side $page_margin_bottom;
    display: flex;

    * {
        font-family: HelveticaNeue, Helvetica, sans-serif;
        font-weight: 300;
        @include font-size(10);
        color: black;
    }

    /*noinspection CssInvalidHtmlTagReference*/
    router-outlet {
        display: none
    }

    .sizer {
        flex: 1;

        @media only screen and (max-width: $optimal_width + ($page_margin_side * 2)) {
            display: none;
        }
    }

    samuel-netocny {
        flex: 2;
        min-width: $optimal_width;
        @media only screen and (max-width: $optimal_width + ($page_margin_side * 2)) {
            min-width: 0;
        }
    }
}