* {
    font-family: Helvetica;
    color: black;
}

body {
    margin: 30px 15px;
    display: flex;
}

.sizer {
    flex: 1;
}

samuel-netocny {
    flex: 2;
    min-width: 500px;
}

@media only screen and (max-width: 500px) {
    .sizer {
        display: none;
    }

    samuel-netocny {
        min-width: 0;
    }
}