@font-face {
    font-family: 'HelveticaNeue';
    src: url('fonts/HelveticaNeueBold.eot');
    src: url('fonts/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/HelveticaNeueBold.woff2') format('woff2'),
    url('fonts/HelveticaNeueBold.woff') format('woff'),
    url('fonts/HelveticaNeueBold.ttf') format('truetype'),
    url('fonts/HelveticaNeueBold.svg#HelveticaNeueBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('fonts/HelveticaNeueLight.eot');
    src: url('fonts/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
    url('fonts/HelveticaNeueLight.woff2') format('woff2'),
    url('fonts/HelveticaNeueLight.woff') format('woff'),
    url('fonts/HelveticaNeueLight.ttf') format('truetype'),
    url('fonts/HelveticaNeueLight.svg#HelveticaNeueLight') format('svg');
    font-weight: 300;
    font-style: normal;
}


* {
    font-family: HelveticaNeue, Helvetica;
    font-weight: 300;
    color: black;
}

body {
    margin: 30px 15px;
    display: flex;
}

.sizer {
    flex: 1;
}

samuel-netocny {
    flex: 2;
    min-width: 500px;
}

@media only screen and (max-width: 500px) {
    .sizer {
        display: none;
    }

    samuel-netocny {
        min-width: 0;
    }
}