<kb-page-slider [overlayIndicator]="true" dotColor="black"
                [(page)]="pageNumber">

    <!-- Pages -->
    <div *kbPages="let page of pages" [style.background]="page.image"></div>

    <!-- Navigation Buttons -->
    <kb-nav-button backward [showBackground]="false"
                   [(page)]="pageNumber" [pageCount]="pageCount">
    </kb-nav-button>

    <kb-nav-button forward [showBackground]="false"
                   [(page)]="pageNumber" [pageCount]="pageCount">
    </kb-nav-button>

</kb-page-slider>