<img *ngIf="pages" [src]="pages[0].url" #pageHeightDetector style="visibility: hidden">
<kb-page-slider *ngIf="pages"
                [(page)]="pageNumber"
                (pageChange)="startAutoSlide(false); startAutoSlide()"
                [transitionDuration]="transitionDuration"
                [style.height]="pageHeightDetector.scrollHeight">

    <!-- Pages -->
    <div *kbPages="let page of pages">
        <img [src]="page.url">
    </div>

    <!-- Navigation Buttons -->
    <kb-nav-button backward [showBackground]="false"
                   [(page)]="pageNumber" [pageCount]="pageCount">
    </kb-nav-button>

    <kb-nav-button forward [showBackground]="false"
                   [(page)]="pageNumber" [pageCount]="pageCount">
    </kb-nav-button>
</kb-page-slider>