<kb-page-slider *ngIf="pages"
                [overlayIndicator]="true" dotColor="white"
                [(page)]="pageNumber"
                [transitionDuration]="transitionDuration">

    <!-- Pages -->
    <div *kbPages="let page of pages">
        <img [src]="page.url">
    </div>

    <!-- Navigation Buttons -->
    <kb-nav-button backward [showBackground]="false"
                   [(page)]="pageNumber" [pageCount]="pageCount">
    </kb-nav-button>

    <kb-nav-button forward [showBackground]="false"
                   [(page)]="pageNumber" [pageCount]="pageCount">
    </kb-nav-button>

</kb-page-slider>