<div class="bootstrap">
    <div class="handle"><img *ngIf="parentLevel" src="/images/icons/drag_handle.svg"></div>
    <div>
        <div class="form-group">
            <label for="title">Item URL</label>
            <input type="text" id="title" class="form-control" [(ngModel)]="item.title">
        </div>
        <div class="form-group" *ngIf="parentLevel">
            <label for="url">Title</label>
            <input type="text" class="form-control" id="url" [ngModel]="item.url" (ngModelChange)="changedURL($event)"
                   placeholder="Please enter an URL">
            <small class="form-text text-muted">
                Parts from parent level will be prepended, eg. URL is "projects",
                parent URL is "sk" and result URL will be /sk/projects
            </small>
        </div>
        <template [ngIf]="item.type === 'group'">
            <div class="form-group">
                <label for="redirect">Default child page</label>
                <select class="form-control" [(ngModel)]="item.redirect">
                    <option *ngFor="let type of this.item.routes" [ngValue]="type.url">
                        {{type.title}}
                    </option>
                </select>
                <small class="form-text text-muted">
                    Select page to which the application is redirected when the URL above is entered or the group link
                    is clicked.
                </small>
            </div>

            <a class="btn btn-primary" (click)="addChild()">Add new child</a>
        </template>
    </div>
    <div *ngIf="parentLevel" class="remove_item">
        <a (click)="confirmRemove()">
            <img src="/images/icons/remove_circle.svg">
        </a>
    </div>
</div>
<hr/>
<div class="dragulaBag">
    <div *ngIf="item.type === 'group' && !item.routes.length" class="placeItem">
        Add an item or drag & drop one here...
    </div>
    <item-editor *ngFor="let child of item.routes" [item]="child" [parentLevel]="item"></item-editor>
</div>

<modal-confirm #deleteConfirmation (yes)="remove()">
    Do you really want to remove this menu item?<br>
    <b>NOTE: All nested items will be removed as well. Onced saved all data on removed pages will be removed as
        well.</b>
</modal-confirm>