h1 {
    font-size: 12pt;
    font-weight: normal;
    margin-bottom: 30px;
}

.menu {
    display: flex;
}

.menu-block {
    flex: 1;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

/*noinspection CssUnusedSymbol*/
a.active {
    color: #039be5;
}