.appMenu {
    height: 160px;
    display: flex;
    flex-direction: column;
    padding: 0 95px 20px;

    h1 {
        font-size: 14pt;
        font-weight: normal;
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    .sizer {
        flex-grow: 1;
    }

    .menu {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;

        .menu-block {
            display: flex;
            flex-grow: 1;
            flex-direction: column;

            &.at {
                text-align: right;
            }

            a {
                font-size: 10pt;
                line-height: 15pt;

                /*noinspection CssUnusedSymbol*/
                &.active {
                    font-weight: bold;
                }
            }
        }
    }
}