@import "projects.common";

.edit_buttons {
    margin-bottom: $thumb_title_margin;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: -$space_between;
}

.thumbnail {
    @extend %tile;

    &.new_project {
        padding: $space_between;

        a {
            display: block;
            position: relative;

            img {
                width: 100%;
                visibility: hidden;
                vertical-align: bottom;
            }

            .add_button {
                border: 1px solid lightgray;
                @include border-radius(5px);
                background: url(/src/assets/images/icons/plus.svg) no-repeat center center;
                background-size: 50%;
                @include box-sizing(border-box);
                @include box-shadow(inset 0 3px 50px rgba(0, 0, 0, 0.2));
            }

            .title, .add_button {
                transition: opacity 300ms, transform 300ms;
            }

            .title {
                position: absolute;
                bottom: $thumb_title_position;

                font-weight: bold;
                margin: $thumb_title_margin;

                z-index: 1;
                @include opacity(0);
            }

            &:hover, &:active {
                .add_button {
                    @include opacity(0.2);
                    @include transform(scale($hover_scale));
                }

                .title {
                    @include opacity(1);
                    @include transform(scale($hover_scale));
                }
            }
        }
    }
}
