<a [@state]="thumbnail.state"
   (@state.done)="removed($event)"
   [class.broken]="!thumbnail.thumbUrl"
   (click)="navigate()"
   (mouseenter)="setHover()"
   (mouseleave)="unsetHover()">
    <img *ngIf="isEdit" class="remove_project" src="/src/assets/images/icons/remove_circle.svg" (click)="remove()">
    <div *ngIf="thumbnail.title" class="title">{{thumbnail.title}}</div>
    <div *ngIf="!thumbnail.title" class="title">No title</div>
    <img *ngIf="thumbnail.thumbUrl" (load)="thumbnail.state='loaded'" [src]="thumbnail.thumbUrl">
    <img *ngIf="!thumbnail.thumbUrl" (load)="thumbnail.state='loaded'" src="/src/assets/images/icons/broken_image.svg">
</a>
