<template [ngIf]="!route.parameters">
    <div class="grid" [class.jiggle]="isEdit">
        <thumbnail *ngFor="let project of projects; let i = index" [thumbnail]="project"></thumbnail>
        <div class="thumbnail"></div>
        <div class="thumbnail"></div>
        <div class="thumbnail"></div>
    </div>
    <div *ngIf="isLoggedIn()" class="bootstrap">
        <a *ngIf="!isEdit" class="btn btn-primary" (click)="isEdit = true">Edit</a>
        <template [ngIf]="isEdit">
            <a class="btn btn-primary" (click)="isEdit = false">Save</a>
            <a class="btn btn-danger" (click)="isEdit = false">Cancel</a>
        </template>
    </div>
</template>
<detail-view *ngIf="route.parameters" (headerChange)="headerChange.emit($event)" [route]="route"></detail-view>