@import "../../global";
@import "../../component";

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .thumbnail {
        flex: 1;
        flex-basis: 30%;
        max-width: 290px;
        @include box-sizing(border-box);

        padding: 5px;

        a {
            display: block;
            position: relative;

            img, .title {
                transition: opacity 300ms;
            }

            img {
                width: 100%;
            }

            .title {
                position: absolute;
                bottom: 5px;

                font-weight: bold;
                margin: 10px;

                z-index: 1;
                @include opacity(0);
            }

            &:hover {
                img {
                    @include opacity(0.2);
                }

                .title {
                    @include opacity(1);
                }
            }
        }
    }
}