<template [ngIf]="!route.parameters">
    <div *ngIf="isLoggedIn()" class="bootstrap edit_buttons">
        <a *ngIf="!isEdit" class="btn btn-primary" (click)="edit()">Edit view</a>
        <template [ngIf]="isEdit">
            <a class="btn btn-primary" (click)="confirmSave()">Save</a>
            <a class="btn btn-danger" (click)="confirmCancel()">Cancel</a>
        </template>
    </div>
    <div *ngIf="error" class="bootstrap">
        <div class="alert alert-danger">
            <strong>Error!</strong> {{error}}
        </div>
    </div>
    <div class="grid">
        <thumbnail *ngFor="let project of projects; let i = index"
                   [thumbnail]="project"
                   [isEdit]="isEdit"
                   [class.jiggle]="isEdit && !jigglePaused"
                   (removeChange)="confirmDelete($event)"
                   (removedChange)="delete()">
        </thumbnail>
        <div *ngIf="isEdit" class="thumbnail new_project">
            <a (click)="addNewProject()">
                <div class="title">New project</div>
                <div class="add_button">
                    <img src="/images/icons/broken_image.svg">
                </div>
            </a>
        </div>
        <div class="thumbnail"></div>
        <div class="thumbnail"></div>
        <div class="thumbnail"></div>
    </div>

    <template [ngIf]="isEdit">
        <modal-confirm #deleteConfirmation (yes)="startDelete()" (no)="unpauseJiggle()">
            Do you really want to remove the project?
        </modal-confirm>

        <modal-confirm #saveConfirmation (yes)="save()" (no)="unpauseJiggle()">
            Do you really want to save all changes?<br>
            <b>Note that all removed projects will be lost.</b>
        </modal-confirm>

        <modal-confirm #cancelConfirmation (yes)="cancel()" (no)="unpauseJiggle()">
            Do you really want to cancel all changes?<br>
            <b>Note that all your changes will be lost.</b>
        </modal-confirm>

        <modal-login></modal-login>
    </template>
</template>
<template [ngIf]="route.parameters">
    <detail-view (headerChange)="headerChange.emit($event)" [route]="route"></detail-view>
</template>