.grid {
    display: flex;
    flex-wrap: wrap;

    .thumbnail {
        flex-grow: 1;
        max-width: 250px;
        box-sizing: border-box;

        padding: 5px;

        a {
            display: block;
            position: relative;

            img, .title {
                transition: opacity 300ms;
            }

            img {

                width: 100%;
            }

            .title {
                position: absolute;
                bottom: 5px;

                font-weight: bold;
                margin: 10px;

                opacity: 0;
                z-index: 1;
            }

            &:hover {
                img {
                    opacity: 0.2;
                }

                .title {
                    opacity: 1;
                }
            }
        }
    }
}