<template [ngIf]="!route.parameters">
    <div class="grid" [class.jiggle]="isEdit">
        <thumbnail *ngFor="let project of projects; let i = index" [thumbnail]="project"></thumbnail>
        <div class="thumbnail"></div>
        <div class="thumbnail"></div>
        <div class="thumbnail"></div>
    </div>
    <a *ngIf="isLoggedIn() && !isEdit" class="btn btn-primary" (click)="isEdit = true">Edit</a>
    <a *ngIf="isLoggedIn() && isEdit" class="btn btn-danger" (click)="isEdit = false">Cancel</a>
</template>
<detail-view *ngIf="route.parameters" (headerChange)="headerChange.emit($event)" [route]="route"></detail-view>