@import "../../global";
@import "../../component";

:host {
    text-align: justify;

    img {
        max-width: 100%;
        display: block;
        margin: auto;

        &.floatLeft {
            float: left;
            margin: 0 1em 1em 0;
        }

        &.floatRight {
            float: right;
            margin: 0 0 1em 1em;
        }

        &.floatLeft, &.floatRight {
            width: 32.5%;
            @include box-sizing(border-box);

            @include bp-medium {
                width: 49.5%;
            }

            @include bp-small {
                float: none;
                margin: 0 0 1em;
                width: 100%;
            }
        }
    }

    .text {
        white-space: pre-wrap;
        margin: 0;
        padding: 0;

        &.column2 {
            @include column-count(2);

            @include bp-medium {
                @include column-count(1);
            }
        }

        &.column3 {
            @include column-count(3);

            @include bp-medium {
                @include column-count(2);
            }

            @include bp-small {
                @include column-count(1);
            }
        }
    }
}