@import "../../global";
@import "../../component";

:host {
    text-align: justify;

    img {
        max-width: 100%;
        display: block;
        margin: auto;

        &.floatLeft {
            float: left;
            margin-right: 10px;
            width: 33%;
            @include box-sizing(border-box)
        }

        &.floatRight {
            float: right;
            margin-left: 10px;
            width: 33%;
            @include box-sizing(border-box)
        }
    }

    .text {
        white-space: pre-wrap;

        &.column2 {
            column-count: 2;

            @include bp-small {
                column-count: 1;
            }
        }

        &.column3 {
            column-count: 3;

            @include bp-medium {
                column-count: 2;
            }

            @include bp-small {
                column-count: 1;
            }
        }
    }
}