<template ngFor let-contentPart [ngForOf]="contentParts">
    <template [ngIf]="contentPart.type === types.TEXT && !contentPart.columns">{{contentPart.text}}</template>
    <span *ngIf="contentPart.type === types.TEXT && contentPart.columns"
          class="columns"
          [style.columnCount]="contentPart.columns">{{contentPart.text}}</span>
    <a *ngIf="contentPart.type === types.LINK_EXTERNAL" [href]="contentPart.url">{{contentPart.text}}</a>
    <a *ngIf="contentPart.type === types.LINK_INTERNAL" [routerLink]="contentPart.routeLink">{{contentPart.text}}</a>
    <img *ngIf="contentPart.type === types.IMAGE"
         [title]="contentPart.title"
         [src]="contentPart.url"
         [style.width]="contentPart.width"
         [style.float]="contentPart.float">
    <br *ngIf="contentPart.type === types.LINE_BREAK">
</template>