<ng-template ngFor let-contentPart [ngForOf]="contentParts">
    <p *ngIf="contentPart.type === types.TEXT"
       [columns]="contentPart">{{contentPart.text}}</p>
    <a *ngIf="contentPart.type === types.LINK_EXTERNAL" [href]="contentPart.url">{{contentPart.text}}</a>
    <a *ngIf="contentPart.type === types.LINK_INTERNAL" [routerLink]="contentPart.routeLink">{{contentPart.text}}</a>
    <img *ngIf="contentPart.type === types.IMAGE" [img]="contentPart">
    <br *ngIf="contentPart.type === types.LINE_BREAK">
    <slider-view *ngIf="contentPart.type === types.SLIDER"
                 [route]="contentPart" [keysEnabled]="false"></slider-view>
</ng-template>