<kb-page-slider *ngIf=" pages | async; let loadedPages" [enableArrowKeys]="keysEnabled"
                [(page)]="pageNumber"
                (pageChange)="startAutoSlide(false); startAutoSlide()"
                [transitionDuration]="transitionDuration">
    <!-- Pages -->
    <div *kbPages="let page of loadedPages" class="page">
        <img [src]="page.url">
        <span class="title">{{page.title}}</span>
    </div>

    <!-- Navigation Buttons -->
    <kb-nav-button backward [showBackground]="false"
                   [(page)]="pageNumber" [pageCount]="pageCount">
    </kb-nav-button>

    <kb-nav-button forward [showBackground]="false"
                   [(page)]="pageNumber" [pageCount]="pageCount">
    </kb-nav-button>
</kb-page-slider>
