<div *ngIf="error" class="bootstrap">
    <div class="alert alert-danger">
        <strong>Error!</strong> {{error}}
    </div>
</div>
<ng-page-slider *ngIf="sliderConfiguration && (sliderConfiguration | async) as loadedPages"
                [enableArrowKeys]="keysEnabled"
                [transitionDuration]="loadedPages.duration"
                [autoScrollInterval]="loadedPages.autoSlide">

    <!-- Pages -->
    <div *ngSliderPages="let page of loadedPages.images" class="page">
        <img [src]="page.imageURL">
        <span class="title">{{page.title}}</span>
    </div>
</ng-page-slider>
