<modal class="bootstrap"
       [hideCloseButton]="true"
       [closeOnEscape]="false"
       [closeOnOutsideClick]="false">
    <modal-content>
        Please sign in
        <div *ngIf="error" class="alert alert-danger">
            <strong>Error!</strong> {{error}}
        </div>
    </modal-content>
    <modal-footer>
        <div class="container">
            <form name="login-form" class="form-signin">
                <label for="userName">User name</label>
                <input [(ngModel)]="username" type="text" name="username" id="userName" class="form-control"
                       placeholder="User name" required autofocus>
                <label for="inputPassword">Password</label>
                <input [(ngModel)]="password" type="password" name="password" id="inputPassword" class="form-control"
                       placeholder="Password" required>
                <button class="btn btn-primary btn-block" (click)="loginClick()">Sign in</button>
                <button class="btn btn-danger btn-block" (click)="cancelClick()">Cancel</button>
            </form>
        </div>
    </modal-footer>
</modal>

<div *ngIf="loggingIn" class="modal in fade" role="dialog" tabindex="-1" style="display: block;">
    <div class="animatedLoader">
        <div class="box"></div>
        <div class="hill"></div>
    </div>
</div>

<modal-confirm (yes)="confirmCancelation()" (no)="open()">
    Do you really want to cancel login?<br>
    <b>All your modifications will be discarded.</b>
</modal-confirm>